/DiscDash.xcodeproj/xcuserdata/
*.pxd
/screenshots
*.DS_Store
OneDisc.xcodeproj/project.xcworkspace/xcuserdata/justinlawrence.xcuserdatad/UserInterfaceState.xcuserstate
OneDisc.xcodeproj/xcuserdata/justinlawrence.xcuserdatad/xcschemes/xcschememanagement.plist
